* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-color: #F9FAFB;
    font: normal 15pt Arial;
    color: #92b3a1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

section {
    
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    height: 100px;
    background-color: #92b3a1;
    color: #000;
    width: 100%;
    text-align: center;
    font-style: italic;
}

#btn {
    margin-top: 30px;
    padding: 10px;
    background-color: #92b3a1;
    color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    font-size: 15px;
    margin-bottom: 30px;
    transition: 0.3s;
}

#btn:hover{
    background-color: #596d62;
    color: #fff;
}

.texto {
    font: normal 20pt Arial;
}

.intxt {
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 15pt;
    border-radius: 25px;
    border: 5px solid lightgray;
}

input:focus {
    background-color: #f0f8ff;
    border-color: #92b3a1;
    border-style: solid;
    border-width: 2px; 
    outline: none;
}