* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-color: #F9FAFB;
    font: normal 15pt Arial;
    color: #3498db;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    margin-top: 50px;
    margin-bottom: -50px;
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 25px;
    padding: 15px;
    width: 800px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    --margin-top: 400px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.main {
    margin-top: 50px;
}

#btn {
    margin-top: 30px;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 280px;
    font-size: 25px;
    margin-bottom: 30px;
    transition: 0.3s;
}

#btn:hover{
    background-color: #1d5377;
}

.texto {
    font: normal 20pt Arial;
}

.intxt {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 15pt;
    border-radius: 25px;
    border: 5px solid lightblue;
}